.contacts-wrapper {
  width: 100%;
}

.contacts-main {
  display: flex;
}

.contacts-header {
  width: 100%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contact-form label,
.contact-form input {
  width: 100%;
}

.contact-form label:not(:last-of-type) {
  margin-bottom: 15px;
}
