.portfolio-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 100px;
}

.neon {
  border: 5px solid #7f00ef;
  padding: 30px 60px;
  width: 60%;
  animation: neon3 4s 2s ease-in-out infinite alternate-reverse;
  font-size: calc(14px + 26 * ((100vw - 320px) / 680));
}

.box {
  position: relative;
  font-family: "Monoton", cursive;
  letter-spacing: 10px;
  color: #7f00ef;
  animation: neon2 2s 1s ease-in-out forwards;
}

.box:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.loading-dots {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 20px;
  background: transparent;
  box-shadow: 0 0 10px #fff, inset 0 0 15px #7f00ef, 0 0 40px #7f00ef,
    0 0 70px #7f00ef, 0 0 80px #7f00ef, 0 0 50px #004da0, 0 0 75px #004da0;
}

/* Animations */

.loading-dots-1 {
  margin-left: 15px;
  animation: loadingDots 2s ease-in-out infinite both;
}

.loading-dots-2 {
  animation: loadingDots 2s 0.4s ease-in-out infinite both;
}

.loading-dots-3 {
  animation: loadingDots 2s 0.8s ease-in-out infinite both;
}

.blink {
  animation: blink 3s ease-in-out 4s infinite;
}

.blink1 {
  animation: blink1 2s ease-in-out 4.8s infinite alternate;
}

.blink2 {
  animation: blink 5s ease-in-out 5.2s infinite;
}

.off {
  opacity: 0.8;
  animation: off 3s ease-in-out forwards 2s 1;
}

@keyframes loadingDots {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes blink {
  19.999%,
  22%,
  33%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.2;
  }
  0%,
  12%,
  18.999%,
  31.999%,
  37%,
  40%,
  44.999%,
  46%,
  49.999%,
  51%,
  58.999%,
  61%,
  71%,
  85.999%,
  96%,
  100% {
    opacity: 0.9;
  }
}

@keyframes blink1 {
  0%,
  15.999%,
  61%,
  85.999%,
  95% {
    opacity: 0.1;
  }
  16%,
  19%,
  60.999%,
  86%,
  93%,
  100% {
    opacity: 1;
  }
}

@keyframes off {
  0%,
  15.999%,
  61%,
  85.999%,
  95% {
    opacity: 1;
  }
  16%,
  19%,
  60.999%,
  86%,
  93%,
  100% {
    opacity: 0.2;
  }
}

@keyframes neon2 {
  0%,
  2%,
  5%,
  7%,
  16%,
  24%,
  30%,
  32%,
  36% {
    text-shadow: none;
  }
  8%,
  15%,
  25%,
  29%,
  31%,
  34%,
  45%,
  100% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #004da0,
      0 0 35px #004da0, 0 0 40px #004da0, 0 0 50px #004da0, 0 0 75px #004da0;
  }
}

@keyframes neon3 {
  0%,
  15.999%,
  61%,
  85.999%,
  95% {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #7f00ef,
      0 0 70px #7f00ef, 0 0 80px #7f00ef, 0 0 100px #7f00ef, 0 0 150px #7f00ef;
    border: 5px solid #7f00ef;
  }
  16%,
  19%,
  60.999%,
  86%,
  93%,
  100% {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #004da0,
      0 0 35px #004da0, 0 0 40px #004da0, 0 0 50px #004da0, 0 0 75px #004da0;
    border: 5px solid #004da0;
  }
}
